<%- include("header") -%>

<div class="heading-div">
    <h1 class="heading">About</h1>

</div>

<div class="card center-align paragraph-background" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body center-align">
      <!-- <h5 class="card-title">Card title</h5> -->
      <p class="card-text">Designed by Parv Garg.</p>
      <div class="center-align"><a href="mailto:parv3213@gmail.com?subject='Mail from TodoList'" class="btn btn-outline-info">Mail</a></div>
      
    </div>
  </div>



<%- include("footer") -%>