/*--------------------------------------- ID AND CLASS SELECTORS ---------------------------------------*/
.container-fluid {
    padding: 7% 15%;
}

/* Navbar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.2rem;
}

/* Download Button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title image */

#title {
    text-align: left;
    background-color: #ff4c68;
    color: white;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.title-image {
    width: 60%;
    position: absolute;
    right: 20%
}

.biggest-text {
    font-family: "Montserrat";
    line-height: 1.5;
    font-weight: 900;
    font-size: 3.5rem;
}

/* Feature Section */

#features {
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    padding: 3%;
}

.feature-head-font {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}

.icon {
    color: #ff4c68;
    padding: 5%;
}

.icon:hover {
    color: #ef8172;
}

/* Testemonial Section */

#testimonials {
    background-color: #ff4c68;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Sectiom */

#press {
    background-color: #ff4c68;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

/* CTA SECTION */

#cta {
    background-color: #ff4c68;
}

.cta-heading {
    font-family: "Montserrat";
    font-weight: 900;
    color: #fff;
    line-height: 1.5;
    font-size: 3rem;
}

/* FOOTER SECTION */

#footer {
    background-color: #fff;
}

.footer-icon {
    padding: 0 1.5%;
}

/*--------------------------------------- TAG SELECTORS ---------------------------------------*/

body {
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    line-height: 1.5;
}

h2 {
    font-size: 3rem;
}

p {
    color: #8f8f8f;
}

/*--------------------------------------- Media Queries ---------------------------------------*/

@media (max-width: 991px) {
    .title-image {
        position: static;
    }
    .title-row {
        text-align: center;
    }
}